* {
    box-sizing: border-box;
}

@page {
    size: landscape;
}

html {
    height: 100vh;
}

html:has(.print-page) {
    zoom: 100%;
}

input::selection {
    background: #77f;
    color: #fff;
}

input:focus,
select:focus,
button:focus {
    outline: none;
    outline: none;
    border: 1px solid #77f;
}

button {
    text-transform: uppercase;
}

button:focus {
    border: 1px solid #7c7;
    background: #7c7;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;

    font-family: system-ui, Arial;
    font-size: 0.6em;
    font-weight: bold;
}

html,
body,
p {
    margin: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

input,
select {
    border-radius: 0;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

#location {
    padding: 10px;
}

#salesInput {
    padding: 0px 10px;
}

#controller {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    gap: 10px;
}

.cards {
    user-select: none;
    display: grid;


    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    height: 8.5in;
    overflow: hidden;
}

.print-page .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 11in;
}

.card {
    display: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    height: calc(8.5in / 4);
    border-left: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
}

.card:nth-last-child(-n+3) {
    border-bottom: 0;
}

.card:nth-child(3N + 1) {
    border-left: 0;
}

.print-page .card {
    display: flex;
}

.card:first-child {
    display: flex;
    width: calc(11in / 3);
    border: 1px dashed #ccc;
    margin: 0 auto;
}

.images {
    padding: 5px 20px;
    width: 33%;
}

.images img {
    width: 70px;
    height: 70px;
}

.images img:first-child {
    margin-bottom: 8px;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 67%;
    position: relative;
}

.text div {
    padding: 0px 20px;
}

.top .stars {
    display: flex;
    gap: 4px;
    margin: 5px auto 0;
    padding: 0;
    width: 80%;
}

.text .mid {
    color: #04C;
    font-family: "Square Peg", cursive;
    font-weight: 500;
    font-style: italic;
    font-size: 57.6px;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin-bottom: -35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.print-page .text .mid {
    margin-top: -18px;
    margin-bottom: 0px;
}

.stars img {
    height: 30px;
    width: 30px;
}

.text p:first-child {
    text-transform: uppercase;
}

.bottom p {
    border-top: 2px solid #000;
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
}

.footer-image-container {
    width: 50px;
    height: 1em;
    line-height: 1em;
}

footer img {
    margin-top: 0.125em;
    margin-left: 0.5em;
}

@media screen and (min-width: 720px) {
    html {
        zoom: 150%;
    }
}

@media screen and (min-width: 920px) {
    html {
        zoom: 200%;
    }
}