/* 
  .cards:
    - Prevents text selection within the element.
    - Uses CSS Grid layout with a single column and row.
    - Sets the font size to 0.6rem.
    - Centers the element horizontally with auto margins.
    - Sets the height to 8.5 inches.
    - Hides overflow content.

  .print-page .cards:
    - Adjusts the grid layout to have 3 columns and 4 rows.
    - Sets the width to 11 inches.
*/

.cards {
  user-select: none;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  font-size: 0.6rem;
  margin: 0 auto;
  overflow: hidden;
}

.print-page .cards {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 8.5in;
  width: 11in;
}