.card {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  height: calc(8.5in / 4);
  border-left: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}

.card:nth-last-child(-n+3) {
  border-bottom: 0;
}

.card:nth-child(3N + 1) {
  border-left: 0;
}

.print-page .card {
  display: flex;
}

.card:first-child {
  display: flex;
  width: calc(11in / 3);
  border: 1px dashed #ccc;
  margin: 0 auto;
}

.images {
  padding: 5px 20px;
  width: 33%;
}

.images img {
  width: 70px;
  height: 70px;
}

.images img:first-child {
  margin-bottom: 8px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 67%;
  position: relative;
}

.text div {
  padding: 0px 20px;
}

.top .stars {
  display: flex;
  gap: 4px;
  margin: 5px auto 0;
  padding: 0;
  width: 80%;
}

.text .mid {
  color: #04C;
  font-family: "Square Peg", cursive;
  font-weight: 500;
  font-style: italic;
  font-size: 57.6px;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin-bottom: -35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.print-page .text .mid {
  margin-top: -18px;
  margin-bottom: 0px;
}

.stars img {
  height: 30px;
  width: 30px;
}

.text p:first-child {
  text-transform: uppercase;
}

.bottom p {
  border-top: 2px solid #000;
  margin-bottom: 10px;
}

.card footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.footer-image-container {
  width: 50px;
  height: 1em;
  line-height: 1em;
}

.footer-image-container img {
  margin-top: 0.125em;
  margin-left: 0.5em;
}