/**
 * Card Component Styles
 * 
 * This CSS file contains styles for the card component layout and design.
 * 
 * Styles included:
 * - General card styling
 * - Image and text styling within the card
 * - Responsive design adjustments for print
 */

/* General card styling */
.card {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  height: calc(8.5in / 4);
  border-left: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}

/* Remove bottom border for the last three cards */
.card:nth-last-child(-n+3) {
  border-bottom: 0;
}

/* Remove left border for every fourth card */
.card:nth-child(3N + 1) {
  border-left: 0;
}

/* Display cards in print view */
.print-page .card {
  display: flex;
}

/* Styling for the first card */
.card:first-child {
  display: flex;
  width: calc(11in / 3);
  border: 1px dashed #ccc;
  margin: 0 auto;
}

/* Image container styling */
.images {
  padding: 5px 20px;
  width: 33%;
}

.images img {
  width: 70px;
  height: 70px;
}

.images img:first-child {
  margin-bottom: 8px;
}

/* Text container styling */
.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 67%;
  position: relative;
}

.text div {
  padding: 0px 20px;
}

/* Top section stars styling */
.top .stars {
  display: flex;
  gap: 4px;
  margin: 5px auto 0;
  padding: 0;
  width: 80%;
}

.stars img {
  height: 30px;
  width: 30px;
}

/* Middle text styling */
.text .mid {
  color: #04C;
  font-family: "Square Peg", cursive;
  font-weight: 500;
  font-style: italic;
  font-size: 57.6px;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin-bottom: -26px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Adjustments for print view */
.print-page .text .mid {
  margin-top: -18px;
  margin-bottom: 0px;
}

/* First paragraph text styling */
.text p:first-child {
  text-transform: uppercase;
}

/* Bottom paragraph styling */
.bottom p {
  border-top: 2px solid #000;
  margin-bottom: 10px;
}

/* Footer styling */
.card footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

/* Footer image container styling */
.footer-image-container {
  width: 50px;
}

.footer-image-container img {
  margin-top: 0.5em;
  margin-left: 0.5em;
}