#controller {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  gap: 10px;
}

#controller input:focus,
#controller select:focus,
#controller button:focus {
  outline: none;
  outline: none;
  border: 1px solid #77f;
}

#controller button {
  text-transform: uppercase;
  border: 1px solid #77f;
  background: #77f;
  color: #fff;
}

#controller input,
#controller select {
  border-radius: 0;
  border: 1px solid #ccc;
}

#controller button:hover {
  border: 1px solid #7c7;
  background: #8d8;
  color: #fff;
}

#controller button:focus {
  border: 1px solid #7c7;
  background: #7c7;
  color: #fff;
}

#location {
  padding: 10px;
}

#salesInput {
  padding: 0px 10px;
}